.env
cache/
artifacts/
typechain/
node_modules/
dist/
build/

coverage*
.coverage_artifacts
.coverage_cache
.coverage_contracts
deployed-contracts.json

.idea
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

deployments/localhost/